<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Home Page</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body class="container">
    <h1 class="big-title">Blog Udacity</h1>
    <a href="/newpost">Create New</a> |
    <a href="/logout">Log Out</a>
    {% for post in posts %}
        <hr>
        <div class="post-header">
            <a class="post-subject" href="{{post.key().id()}}"> {{post
                .subject}}</a>
            <h4 class="post-created">{{post.created}}</h4>
        </div>
        <pre class="post-content">{{post.content}}</pre>
    {% endfor %}
</body>
</html>