<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <title>Login</title>
</head>
<body class="container">
    <h1>Login</h1>
    <form method="post">
        <label>
            <div>Username</div>
            <input type="text" name="username" value="{{username}}">
        </label>

        <label>
            <div>Password</div>
            <input type="password" name="password">
        </label>

        <div class="error">{{error}}</div>
        <div>
            Don't have an account?
            <a href="/signup">Register</a>
        </div>

        <input type="submit">
    </form>
</body>
</html>