pre {
    white-space: pre-wrap;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.big-title{
    text-align: center;
    color: orange;
}
.post-created{
    color: orange;
}
.post-subject{
    font-family: monospace;
    font-size: 28px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
